<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat-Da-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/view.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	</head>
	<body>
		<link rel="stylesheet" href="/burger/burger/public/assets/img/256-256-8a98392e8674eb71887ee57b861dd1c0-Burger.png">
		{{{ body }}}
	</body>
</html>
