
<div class="container">
    <div class="row">
        <div class="col-md-6" id="newbrg">
            {{#each burgers}}
                {{#unless devoured}}
                    Devour it! {{> burgers/burger-block}}
                {{/unless}}
        
            {{/each}}

            </button>
        </div>

        <div class="col-md-6" id="eatenbrg">
            {{#each burgers}}
            {{#if devoured}}
                <div>{{this.id}}{{this.burger_name}} </div>
            {{/if}}
            {{/each}}
        </div>
    </div>

<form class="create-form" method="POST" action="/api/burgers">
    <div class="form-group">
        <label for="brg">Burger Name</label>
        <input type="text" id="brg" name="burger_name">
    </div>
    <button type="submit">Submit</button>
    <h6>Enter a burger you want to eat. Click the "Submit" button.</h6>
</form>

</div>


