
<div class="container">
    <div class="row">
        <div class="col-md" id="newbrg">
            {{#each burgers}}
            {{#unless devoured}}
                {{!-- {{> burgers/main devoured=true}} --}}
            {{/unless}}
            {{/each}}
            <button class="change-burgerstate" data-id="{{id}}" data-newEatenBurger="{{devoured}}">
                {{#if devoured}}Devour it!{{/if}}
            </button>
        </div>

        <div class="col-md" id="eatenbrg">
            {{#each burgers}}
            {{#unless devoured}}
                {{!-- {{> burgers/main devoured=true}} --}}
            {{/unless}}
            {{/each}}
        </div>
    </div>
</div>


<form class="create-form">
    <div class="form-group">
        <label for="brg">Burger Name</label>
        <input type="text" id="brg" name="burger_name">
    </div>
    <button type="submit">Submit</button>
    <h6>Enter a burger you want to eat. Click the "Submit" button.</h6>
</form>